# User system files
.ssh/
.kube/
.cache/
.config/

.bash_history
.bashrc
.bash_logout
.profile
.lesshst
.Xauthority

# Kubernetes secrets
*.key
*.pem
*.crt

# Environment files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log
# AWS Credentials
.aws/
credentials
*.pem
*.key

# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc

# Logs
*.log

# Generated response files
responses/
*.json

# ZIP files
*.zip
